# Compiled class files
*.class

# Log files
*.log

# Packages
*.jar
*.war
*.ear

# Spring Boot / Maven / Gradle
/target/
/build/
/out/

# IntelliJ IDEA
/.idea/
/*.iml
/*.iws

# OS files
.DS_Store
Thumbs.db

